<body ng-app="app" ng-controller="loginctrl">
    <div class="container">
        <div><strong>Welcome {{user}}</strong></div>
        <div class="pull-left"></div>
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div><b>Height</b></div>
                        <div ng-repeat="h in heightarray">
                            <div><input type="checkbox" ng-model="h.on" ng-change="checkHeight()" />{{h.height}}</div>
                        </div>
                        <div><b>Age</b></div>
                        <div ng-repeat="a in agearray">
                            <div><input type="checkbox" ng-model="a.on" ng-change="checkAge()" />{{a.age}}</div>
                        </div>
                        <div><b>Country</b></div>
                        <div ng-repeat="c in countryarray">
                            <div><input type="checkbox" ng-model="c.on" ng-change="checkCountry()" />{{c.country}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form ng-show="user=='admin'" class="form-group">
                            <table class="table table-bordered">Add New User
                                <tr>
                                    <td><label>Name</label><input type="text" class="form-control" ng-model="addname"/></td>                                   
                                </tr>
                                <tr>
                                    <td><label>Age</label><input type="number" class="form-control" ng-model="addage" /></td>
                                </tr>
                                <tr>
                                    <td><label>Gender</label><input type="text" class="form-control" ng-model="addgender" /></td>
                                </tr>
                                <tr>
                                    <td><label>Height</label><input type="text" class="form-control" ng-model="addheight" /></td>
                                </tr>
                                <tr>
                                    <td><label>Country</label><input type="text" class="form-control" ng-model="addcountry" /></td>
                                </tr> 
                                <tr>
                                    <td><input type="submit" class="btn btn-primary addnew pull-right" value="Add New" ng-click="addNew()"></td>
                                </tr>                                
                            </table>
                        </form>
                        <form> <!--ng-submit="addNew()"-->
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                                        <th>Name</th>
                                        <th>Age</th>
                                        <th>Gender</th>
                                        <th>Height</th>
                                        <th>Country</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in users|filter:height|filter:age|filter:country|orderBy:sortColumn">
                                        <td>
                                            <input type="checkbox" ng-model="user.selected"/>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control"  ng-model="user.name" required />
                                         </td>
                                        <td>
                                            <input type="number" class="form-control" ng-model="user.age" required />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="user.gender" required />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="user.height" required />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control"  ng-model="user.country" required />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div ng-show="user=='admin'" class="form-group">
                                <input ng-hide="!users.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove">                                
                                <input type="submit" class="btn btn-primary addnew pull-right" value="Edit" ng-click="edit($index)">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-right">
                            <select ng-model="sortColumn">
                                <option value="" selected disabled>Sort By</option>
                                <option value="name">Name</option>
                                <option value="+age">Age Asc</option>
                                <option value="-age">Age Desc</option>
                                <option value="+height">Height Asc</option>
                                <option value="-height">Height Desc</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>